<div class="welcome-container">
  <div class="welcome-header">
    <h1>Bienvenido al Sistema de Gestión Escolar</h1>
    <p>Seleccione una de las siguientes opciones para comenzar:</p>
  </div>
  
  <div class="cards-container">
    @for (card of cards; track card.title) {
      <mat-card class="feature-card" [routerLink]="card.route">
        <mat-card-header>
          <div mat-card-avatar class="card-icon" [style.background-color]="card.color">
            <mat-icon>{{ card.icon }}</mat-icon>
          </div>
          <mat-card-title>{{ card.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ card.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="card.route">
            IR A {{ card.title.toUpperCase() }}
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</div> 